<section class="container-fluid">
    <div><a name="seccion 7" id="Contacto"></a>
        <h1>Contacto</h1>
    </div>
    <div class="containter py-4">
        <div class="row justify-content-right">
            <div class="col-lg-4">
                <div class="card shadow card-height mb-3">
                    <div class="card-body mb-3">
                        <h4>Ubicación</h4>
                        <p>Morón, Buenos Aires</p>
                        <h4>Telefono</h4>
                        <p>11-3273-6531</p>
                        <h4>Correo</h4>
                        <p>neon.dev3@gmail.com</p>
                        <h4>Social</h4>
                        <div class="text-center">
                            <a class="fs-3" style="color: black; padding: 5px"
                                href="https://www.linkedin.com/in/luis-de-leonibus-63aa3639/">
                                <i class="fa-brands fa-linkedin-in"></i></a>
                            <a class="fs-3" style="color: black; padding: 5px" href="https://github.com/luisdeleo">
                                <i class="fa-brands fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 ">
                <div class="card shadow card-height mb-3">
                    <img src="./assets/images/qr.png" alt="">
                    <h4 align="center" class="wasap">Contacto directo Whatsapp</h4>
                </div>
            </div>
            <div class="col-lg-4 cartas">
                <div class="card shadow card-height mb-3">
                    <img src="./assets/images/llamada.png" alt="">
                    <h4 align="center" class="wasap">Contacto directo Llamadas</h4>
                </div>
            </div>
        </div>
    </div>
</section>



<router-outlet></router-outlet>