<footer class="bg-light text-center text-lg-start ">
    <!-- Copyright -->
    <div class="text-center p-3 text-light texto" style="background-color: rgba(0, 0, 0, 0.795);">
        Diseño a cargo de: De Leonibus, Luis. Para programa Argentina Programa
        <div class="text-center">
            <a class="fs-3 iconos" style="color: white;"
                href="https://www.linkedin.com/in/luis-de-leonibus-63aa3639/">
                <i class="fa-brands fa-linkedin-in"></i></a>
            <a class="fs-3 iconos" style="color: white;" href="https://github.com/luisdeleo">
                <i class="fa-brands fa-github"></i></a>
        </div>
        <div><a [routerLink]="['/Login']">Admin Access</a></div>
    </div>
    <!-- Copyright -->
</footer>