<section class="container-flid background-grey">
    <div><a name="seccion 2" id="Experiencia"></a>
        <h1>Experiencia</h1>
    </div>
    <div class="container-fluid" *ngFor="let exper of expe">
        <ul class="row justify-content-center list-unstyled mt-3">
            <li class="col-9 card mb-3">
                <div class="row ">
                    <div class="col">
                        <div class="card-body tarjeta">
                            <h4 class="card-title display-6 text-center">{{exper.titulo}}</h4>
                            <p class="card-text fs-4 text-center">{{exper.descripcion}}</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>